.heading {
    text-align: center;
}

.main-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

p {
    text-align: center;
}